<!DOCTYPE html>
<html lang="{{ trans('config.html_language') }}">
<head>
    <base href="{{ route('index') }}/">
    <meta charset="UTF-8">
    <meta name="robots" content="noindex, nofollow, noarchive, noodp, NoImageIndex, noydir">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <title>Firefly III

        {% if title != "Firefly" and title != "" %}
            // {{ title }}
        {% endif %}

        {% if subTitle %}
            // {{ subTitle }}
        {% endif %}
    </title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="csrf-token" content="{{ csrf_token() }}">
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>

    {# CSS things #}

    {# libraries #}
    <link href="v1/lib/bs/css/bootstrap.min.css?v={{ FF_VERSION }}" rel="stylesheet" type="text/css"/>
    <link href="v1/lib/fa/css/font-awesome.min.css?v={{ FF_VERSION }}" rel="stylesheet" type="text/css"/>
    <link href="v1/css/daterangepicker.css?v={{ FF_VERSION }}" rel="stylesheet" type="text/css"/>

    {# the theme #}
    <link href="v1/lib/adminlte/css/AdminLTE.min.css?v={{ FF_VERSION }}" rel="stylesheet" type="text/css"/>
    <link href="v1/lib/adminlte/css/skins/skin-blue-light.min.css?v={{ FF_VERSION }}" rel="stylesheet" type="text/css"/>

    {# Firefly III customisations #}
    <link href="v1/css/firefly.css?v={{ FF_VERSION }}" rel="stylesheet" type="text/css"/>

    <!--[if lt IE 9]>
    <script src="v1/js/lib/html5shiv.min.js?v={{ FF_VERSION }}"></script>
    <script src="v1/js/lib/respond.min.js?v={{ FF_VERSION }}"></script>
    <![endif]-->

    {# favicons #}
    {% include('partials.favicons') %}

    <script type="text/javascript">
        var forceDemoOff = false;

    </script>
    <style>
        .box-transaction .list-group-item {
            padding: 0px 5px !important;
        }

        .box-transaction .list-group {
            margin-bottom: 0px !important;
        }

        .box-transaction .balance-total {
            font-weight: bold;
        }
    </style>

    {# favicons #}
    {% include('partials.favicons') %}

    <style>
        table.kassa-payments td, th {
            padding: 2px 10px;
            font-size: 18px;
        }
        table.kassa-payments tr:nth-child(even) {
            background-color: #ededed;
        }


        table.kassa-payments tr:nth-child(odd) {
            background-color: white;
        }
    </style>


</head>
<body class="skin-blue-light sidebar-mini hold-transition">
<div class="wrapper" id="app">

    <div class="content-wrapper" style="margin-left: 0 !important;">
        <section class="content">
            {% if IS_DEMO_SITE %}
                <div class="row no-print">
                    <div class="col-lg-12">
                        <p class="well">
                            {% include ['demo.' ~ Route.getCurrentRoute.getName, 'demo.no-demo-text'] %}
                        </p>
                    </div>
                </div>
            {% endif %}

            {% include('partials.flashes') %}

            {% block content %}{% endblock %}
        </section>
    </div>
    <!--
    <footer class="main-footer">
        <div class="pull-right hidden-xs">
            <b>{{ 'version'|_ }}</b> <a href="{{ route('debug') }}">{{ Config.get('firefly.version') }}</a>
        </div>
        <strong><a href="https://github.com/firefly-iii/firefly-iii">Firefly III</a></strong>
    </footer>-->

    {% include('partials.control-bar') %}

</div>
<div class="modal fade" id="defaultModal" tabindex="-1" role="dialog">
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="helpModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="helpTitle">&nbsp;</h4>
            </div>
            <div class="modal-body" id="helpBody">&nbsp;</div>
            <div class="modal-footer">
                <small class="pull-left">
                    {{ 'need_more_help'|_ }}
                </small>
                <br/>
                <small class="pull-left">
                    {{ trans('firefly.reenable_intro_text')|raw }}
                </small>
                <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'close'|_ }}</button>
            </div>
        </div>
    </div>
</div>

<script src="js/lib/moment.min.js?v={{ FF_VERSION }}" type="text/javascript"></script>
<script src="js/ff/moment/{{ language }}.js?v={{ FF_VERSION }}" type="text/javascript"></script>

<script src="js/lib/daterangepicker.js?v={{ FF_VERSION }}" type="text/javascript"></script>
<script type="text/javascript" src="js/lib/accounting.min.js?v={{ FF_VERSION }}"></script>

<script type="text/javascript">
    var helpPageTitle = "{{ trans('firefly.help_for_this_page')|escape('js') }}";
    var noHelpForPage = "{{ trans('firefly.no_help_could_be_found')|escape('js') }}";
    var noHelpForPageTitle = "{{ trans('firefly.no_help_title')|escape('js') }}";
</script>
<script type="text/javascript" src="js/ff/help.js?v={{ FF_VERSION }}"></script>
{% if not shownDemo %}
    <script type="text/javascript">
        var nextLabel = "{{ trans('firefly.intro_next_label')|escape('js') }}";
        var prevLabel = "{{ trans('firefly.intro_prev_label')|escape('js') }}";
        var skipLabel = "{{ trans('firefly.intro_skip_label')|escape('js') }}";
        var doneLabel = "{{ trans('firefly.intro_done_label')|escape('js') }}";
        var routeForTour = "{{ current_route_name }}";
        var routeStepsUri = "{{ route('json.intro', [current_route_name, what|default("")]) }}";
        var routeForFinishedTour = "{{ route('json.intro.finished', [current_route_name, what|default("")]) }}";
    </script>
    <script type="text/javascript" src="lib/intro/intro.min.js?v={{ FF_VERSION }}"></script>
    <script type="text/javascript" src="js/ff/intro/intro.js?v={{ FF_VERSION }}"></script>
{% endif %}
{% block scripts %}{% endblock %}

</body>
</html>
